<div class="main-container">
  <mat-toolbar class="header">
    <mat-form-field class="search-field">
      <mat-label>Search</mat-label>
      <input
        matInput
        (input)="applyFilter($event)"
        placeholder="Search logisticians..."
      />
    </mat-form-field>

    <mat-form-field class="filter-field">
      <mat-label>Filter by something </mat-label>
      <mat-select
        [(value)]="selectedFilter"
        (selectionChange)="applyFilter($event)"
      >
        <mat-option value="">All</mat-option>
        <mat-option value="admin">Admin</mat-option>
        <mat-option value="regular">Regular</mat-option>
      </mat-select>
    </mat-form-field>
  </mat-toolbar>

  @for(trip of trips; track $index){
  <mat-card>
    <mat-card-title>{{ trip }}</mat-card-title>
  </mat-card>
  }

  <button mat-flat-button class="add-trip-button" (click)="onAddTripClicked()">
    <mat-icon>add</mat-icon>
    <span>Add Trip</span>
  </button>
</div>
