<div class="main-container">
  <mat-toolbar class="header">
    <p class="title-text">{{ questionnaire.title }}</p>
    <span class="spacer"></span>
    @if(isReview === false){
    <button
      mat-flat-button
      class="toolbar-button"
      (click)="onSubmit()"
      [disabled]="!isAnswerFormValid()"
    >
      <mat-icon>check</mat-icon>
      <span>Submit</span>
    </button>
    } @else {
    <button
      mat-flat-button
      class="toolbar-button"
      (click)="onClose()"
      [disabled]="!isAnswerFormValid()"
    >
      <mat-icon>close</mat-icon>
      <span>Close</span>
    </button>
    }
  </mat-toolbar>

  <div class="questions-container" #questionsContainer>
    <mat-card class="description">
      <mat-card-title class="description-title">
        <div>
          <p><strong>Purpose:</strong> {{ questionnaire.purpose }}</p>
          @if(isReview === false){
          <p><strong>Submit due:</strong> {{ dateDue }}</p>
          } @else {
          <p>
            <strong>Submitted:</strong>
            {{ convertToReadableDate(clinicalImpression.date) }}
          </p>
          }
        </div>
        <p class="description-text">
          <strong>Description:</strong> {{ questionnaire.description }}
        </p>
      </mat-card-title>
    </mat-card>

    @for (question of questionnaire.item; track $index; let i = $index) {
    <app-question
      class="question"
      [question]="question"
      [observation]="observations[i]"
      [isReview]="isReview"
    ></app-question>
    <!--@for (conditional of question.item; track $index) {
    <app-question
      class="question-cond"
      [question]="conditional"
      (callSave)="saveToSessionStorage()"
      (callDelete)="deleteQuestion(questions, conditional)"
      [conditional]="true"
    ></app-question>
    } -->
    }
  </div>
</div>
