.header {
  display: flex;
  gap: 10px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: fit-content;
}

.form-field {
  margin-top: 10px;
}

.questionnaire-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.questionnaire {
  padding: 10px;
  border-radius: 8px;
  transition: background 0.3s;
}
