<mat-toolbar class="header">
  <mat-form-field appearance="outline" class="form-field">
    <mat-label>Search</mat-label>
    <input
      matInput
      placeholder="Questionnaire Name..."
      [(ngModel)]="searchQuery"
      (input)="applyFilters()"
    />
  </mat-form-field>

  <mat-form-field appearance="outline" class="form-field">
    <mat-label>Status</mat-label>
    <mat-select [(value)]="selectedStatus" (selectionChange)="applyFilters()">
      <mat-option value="">All</mat-option>
      <mat-option value="active">Assigned</mat-option>
      <mat-option value="retired">Finished</mat-option>
      <mat-option value="draft">Outdated</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline" class="form-field">
    <mat-label>Sort by Date</mat-label>
    <mat-select [(value)]="selectedSort" (selectionChange)="applyFilters()">
      <mat-option value="newest">First new</mat-option>
      <mat-option value="oldest">First old</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline" class="form-field">
    <mat-label>Doctor</mat-label>
    <mat-select [(value)]="selectedDoctor" (selectionChange)="applyFilters()">
      <mat-option value="">All</mat-option>
      <mat-option *ngFor="let doctor of doctors" [value]="doctor">{{
        doctor
      }}</mat-option>
    </mat-select>
  </mat-form-field>
</mat-toolbar>

<div class="questionnaire-list">
  <app-p-questionnaire
    class="questionnaire"
    *ngFor="let q of questionnaires"
    [questionnaire]="q"
  >
  </app-p-questionnaire>
</div>
