@use "@angular/material" as mat;

.card-container {
  width: 100%;
}

.card-actions {
  display: flex;
  gap: 1rem;
}

.icon-button {
  color: var(--mat-sys-primary);
}

.assigned {
  background: lightgray;
}
.finished {
  background: lightgreen;
}
.outdated {
  background: lightcoral;
}
