<mat-toolbar class="header">
  <a mat-button routerLink="" class="main-page-button">
    <span class="title">HealthQ</span>
  </a>
  <span class="spacer"></span>
  <div class="button-container">
    <button mat-mini-fab class="notification-button">
      <mat-icon class="button-icon">notifications</mat-icon>
    </button>
    <button mat-fab extended class="account-button" [matMenuTriggerFor]="profileMenu">
      <span>{{ this.authService.username }}</span>
      <mat-icon class="button-icon">account_circle</mat-icon>
    </button>

    <mat-menu #profileMenu="matMenu" class="profile-menu">
      <button mat-menu-item (click)="openProfileSettings()">
        <mat-icon>settings</mat-icon>
        <span>Profile Settings</span>
      </button>
      <button mat-menu-item (click)="logout()">
        <mat-icon>logout</mat-icon>
        <span>Log Out</span>
      </button>
    </mat-menu>
  </div>
</mat-toolbar>
