mat-toolbar {
  position: fixed;
  height: 7vh;
  z-index: 100;
}
mat-card-header h1 {
  margin-top: 0
}
.registration-container {
  padding-top: 7vh;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

mat-card {
  width: 36rem;
  padding: 20px;
}

.submit-button {
  width: 80%;
  border-radius: 9999px;
}

.login-link {
  margin-top: 15px;
  text-align: center;
}

mat-form-field {
  width: 100%;

}

mat-grid-tile{
  padding: 10px 0 10px 0;
  width: 100%;
}
