<div class="registration-container">
  <mat-card>
    <mat-card-header>
      <h1>Sign up</h1>
    </mat-card-header>
    <mat-card-content>
      <form
        #form="ngForm"
        (submit)="onSubmit(form)"
        [class.submitted]="service.formSubmitted"
        novalidate
        autocomplete="off"
      >
        <mat-grid-list cols="2" rowHeight="4em" gutterSize="1.6em">
          <mat-grid-tile>
            <mat-form-field appearance="outline" class="form-field">
              <mat-label>Email</mat-label>
              <input
                matInput
                name="email"
                #email="ngModel"
                [(ngModel)]="service.formData.email"
                type="email"
                required
              />
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile>
            <mat-form-field appearance="outline" class="form-field">
              <mat-label>First Name</mat-label>
              <input
                matInput
                name="firstName"
                #firstName="ngModel"
                [(ngModel)]="service.formData.firstName"
                type="text"
                required
              />
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile>
            <mat-form-field appearance="outline" class="form-field">
              <mat-label>Last Name</mat-label>
              <input
                matInput
                name="lastName"
                #lastName="ngModel"
                [(ngModel)]="service.formData.lastName"
                type="text"
                required
              />
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile>
            <mat-form-field appearance="outline" class="form-field">
              <mat-label>Birth Date</mat-label>
              <input
                matInput
                [max]="_currentDate"
                [matDatepicker]="picker"
                name="birthDate"
                [(ngModel)]="service.formData.birthDate"
                required
              />
              <mat-hint>mm/dd/yyyy</mat-hint>
              <mat-datepicker-toggle
                matIconSuffix
                [for]="picker"
              ></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile>
            <mat-form-field appearance="outline" class="form-field">
              <mat-label>Phone Number</mat-label>
              <input
                matInput
                name="phoneNumber"
                #phoneNumber="ngModel"
                [(ngModel)]="service.formData.phone"
                type="phone"
                required
              />
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile>
            <mat-slide-toggle
              name="admin"
              [(ngModel)]="service.formData.hasAdminPrivileges"
              >Admin</mat-slide-toggle
            >
          </mat-grid-tile>

          <mat-grid-tile colspan="2">
            <mat-form-field appearance="outline" class="form-field">
              <mat-label>Password</mat-label>
              <input
                matInput
                [type]="hidePassword() ? 'password' : 'text'"
                name="password"
                #password="ngModel"
                [(ngModel)]="service.formData.password"
                required
              />
              <button
                mat-icon-button
                matSuffix
                type="button"
                (click)="changeButtonVisibility($event)"
                [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hidePassword()"
              >
                <mat-icon>{{
                  hidePassword() ? "visibility_off" : "visibility"
                }}</mat-icon>
              </button>
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile colspan="2">
            <mat-form-field appearance="outline" class="form-field">
              <mat-label>Confirm Password</mat-label>
              <input
                matInput
                name="conf_password"
                #conf_password="ngModel"
                [(ngModel)]="confirmPassword"
                [type]="hidePassword() ? 'password' : 'text'"
                (blur)="isPasswordMatch($event, password, conf_password)"
                required
              />
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile colspan="2">
            <button mat-raised-button type="submit" class="submit-button">
              Sign up
            </button>
          </mat-grid-tile>
        </mat-grid-list>
      </form>
      <div class="login-link">
        <a mat-button routerLink="/login">Already have an account? Log in.</a>
      </div>
    </mat-card-content>
  </mat-card>
</div>
