<div class="doctor-profile">
  <!-- Doctor Info Card -->
  <mat-card class="doctor-card">
    <div class="doctor-header">
      <img [src]="doctor" alt="Doctor Photo" class="doctor-photo">
      <div class="doctor-details">
        <h2>{{ doctor.firstName + ' ' + doctor.lastName }}</h2>
        <p class="email">{{ doctor.email }}</p>
        <p class="description">{{ doctor.phoneNumber }}</p>
      </div>
    </div>
  </mat-card>

  <!-- Patients List -->
  <mat-card class="patients-section">
    <h3>Assign New Patient</h3>
    <mat-form-field appearance="fill">
      <mat-label>Select a patient</mat-label>
      <mat-select [disabled]="allPatients.length <= 0" [(ngModel)]="selectedPatientId">
        <mat-option *ngFor="let patient of allPatients" [value]="patient.email">
          {{ patient.firstName + ' ' + patient.lastName }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div class="assign-button-container">
      <button mat-raised-button class="assign-button" (click)="assignPatient()">
        Assign
      </button>
    </div>
    <h3>Assigned Patients</h3>
    <mat-table [dataSource]="patients" class="mat-elevation-z8">
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
        <mat-cell *matCellDef="let patient"> {{ patient.firstName + ' ' + patient.lastName }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="email">
        <mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
        <mat-cell *matCellDef="let patient"> {{ patient.email }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
        <mat-cell *matCellDef="let patient">
          <button  mat-icon-button class="icon-button" (click)="removePatient(patient.email)">
            <mat-icon>delete</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </mat-card>

</div>
