.main-container {
}

.header {
  display: flex;
  width: 100%;
  gap: 1rem;
  padding: 1rem;
}

.search-field,
.filter-field {
  flex: 1;
  min-width: 200px;
}

.logisticians-container {
  display: flex;
  flex-direction: column;
  width: 75vw;
  gap: 1rem;
  padding: 1rem;
}
