@use "@angular/material" as mat;

.main-container {
  width: 100%;
  height: 95vh;

  @include mat.sidenav-overrides(
    (
      container-background-color: var(--mat-sys-secondary-container),
      container-text-color: var(--mat-sys-on-secondary-container),
      container-divider-color: var(--mat-sys-secondary),
      container-shape: border-radius(0rem),
    )
  );
}

.sidenav {
  padding: 20px;
}

.sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}
