@use "@angular/material" as mat;

.main-container {
  width: 100%;
  height: 95vh;

  @include mat.sidenav-overrides(
    (
      container-background-color: var(--mat-sys-secondary-container),
      container-text-color: var(--mat-sys-on-secondary-container),
      container-divider-color: var(--mat-sys-secondary),
      container-shape: border-radius(0rem),
      container-width: 15vw,
    )
  );
}

.sidenav {
  min-width: 12rem;
}

.sidenav-content {
  display: flex;
  height: 100%;
  justify-content: center;
}

.sidenav-toggle-button {
  position: absolute;

  z-index: 1;
}

button.active {
  background-color: rgba(0, 0, 0, 0.5); /* Light gray background */
  border-radius: 4px;
}
