<div class="main-container">
  <mat-toolbar class="header">
    <mat-form-field subscriptSizing="dynamic" class="questionnaire-title">
      <mat-label>Survey title</mat-label>
      <input
        matInput
        required="true"
        [(ngModel)]="questionnaire.title"
        (keyup.enter)="saveToSessionStorage()"
        (blur)="saveToSessionStorage()"
      />
    </mat-form-field>
    <button mat-flat-button class="toolbar-button" (click)="openTemplateSelector()">
      <mat-icon>star</mat-icon>
      <span>Select template</span>
    </button>
    <button mat-flat-button class="toolbar-button" (click)="saveTemplate()" [disabled]="!isFormValid()">
      <mat-icon>bookmark</mat-icon>
      <span>Save template</span>
    </button>
    <button mat-flat-button class="toolbar-button" (click)="addQuestion()">
      <mat-icon>add</mat-icon>
      <span>Add question</span>
    </button>
    <button
      mat-flat-button
      class="toolbar-button"
      (click)="onSubmit()"
      [disabled]="!canSubmit()"
    >
      <mat-icon>check</mat-icon>
      <span>Submit</span>
    </button>
  </mat-toolbar>

  <div class="questions-container" #questionsContainer>
    <mat-card class="description">
      <div class="description-title">
        <mat-form-field class="description-text" subscriptSizing="dynamic">
          <mat-label>Description</mat-label>
          <textarea
            matInput
            required="true"
            [(ngModel)]="questionnaire.description"
            (keyup.enter)="saveToSessionStorage()"
            (blur)="saveToSessionStorage()"
          ></textarea>
        </mat-form-field>
        <mat-form-field
          class="questionnaire-purpose-select"
          subscriptSizing="dynamic"
        >
          <mat-label>Questionnaire purpose</mat-label>
          <span class="spacer"></span>
          <mat-select
            [(ngModel)]="questionnairePurpose"
            (selectionChange)="onQuestionPurposeChange()"
          >
            @for(topic of questionnaireTopics; track $index){
            <mat-option [value]="topic[1]">
              {{ topic[1] }}
            </mat-option>
            }
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Period due:</mat-label>
          <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
            <input
              matStartDate
              formControlName="start"
              placeholder="Start date"
            />
            <input matEndDate formControlName="end" placeholder="End date" />
          </mat-date-range-input>
          <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle
            matIconSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-date-range-picker #picker></mat-date-range-picker>

          <mat-error *ngIf="range.controls.start.hasError('minDateInvalid')">
            Start date cannot be in the past
          </mat-error>
        </mat-form-field>
      </div>
    </mat-card>

    @for (question of questions; track $index) {
    <app-constructor-question
      class="question"
      [question]="question"
      (callSave)="saveToSessionStorage()"
      (callDelete)="deleteQuestion(questions, question)"
    ></app-constructor-question>
    @for (conditional of question.item; track $index) {
    <app-constructor-question
      class="question-cond"
      [question]="conditional"
      (callSave)="saveToSessionStorage()"
      (callDelete)="deleteQuestion(questions, conditional)"
      [conditional]="true"
    ></app-constructor-question>
    } }
  </div>
</div>
