<div class="profile-container">
  <mat-card>
    <mat-card-header>
      <h1>Profile</h1>
    </mat-card-header>
    <mat-card-content>
      <form
        #form="ngForm"
        (submit)="onSubmit(form)"
        [class.submitted]="authService.formSubmitted"
        novalidate
        autocomplete="off"
      >
        <mat-grid-list cols="2" rowHeight="4em" gutterSize="1.6em">
          <mat-grid-tile>
            <mat-form-field appearance="outline" class="form-field">
              <mat-label>Email</mat-label>
              <input
                matInput
                name="email"
                #email="ngModel"
                [(ngModel)]="logistician.contactInfo.email"
                type="email"
                required
              />
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile>
            <mat-form-field appearance="outline" class="form-field">
              <mat-label>First Name</mat-label>
              <input
                matInput
                name="firstName"
                #firstName="ngModel"
                [(ngModel)]="logistician.contactInfo.firstName"
                type="text"
                required
              />
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile>
            <mat-form-field appearance="outline" class="form-field">
              <mat-label>Last Name</mat-label>
              <input
                matInput
                name="lastName"
                #lastName="ngModel"
                [(ngModel)]="logistician.contactInfo.lastName"
                type="text"
                required
              />
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile>
            <mat-form-field appearance="outline" class="form-field">
              <mat-label>Birth Date</mat-label>
              <input
                matInput
                [max]="_currentDate"
                [matDatepicker]="picker"
                name="birthDate"
                [(ngModel)]="logistician.contactInfo.birthDate"
                required
              />
              <mat-hint>mm/dd/yyyy</mat-hint>
              <mat-datepicker-toggle
                matIconSuffix
                [for]="picker"
              ></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile>
            <mat-form-field appearance="outline" class="form-field">
              <mat-label>Phone Number</mat-label>
              <input
                matInput
                name="phoneNumber"
                #phoneNumber="ngModel"
                [(ngModel)]="logistician.contactInfo.phone"
                type="phone"
                required
              />
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile>
            <mat-slide-toggle
              [(ngModel)]="logistician.hasAdminPrivileges"
              name="admin"
              [disabled]="!currentUser?.hasAdminPrivileges"
            >
              Admin
            </mat-slide-toggle>
          </mat-grid-tile>

          <mat-grid-tile colspan="2">
            <div class="button-container">
              <button
                mat-raised-button
                class="submit-button"
                (click)="onCancelClicked()"
              >
                Cancel
              </button>
              <button mat-flat-button type="submit" class="submit-button">
                Confirm
              </button>
            </div>
          </mat-grid-tile>
        </mat-grid-list>
      </form>
    </mat-card-content>
  </mat-card>
</div>
